@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #363636;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
/* font size */
.headers {
  font-size: 1.5rem;
}
.footers {
  font-size: 0.75rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .image-container {
    max-width: 24px;
    max-height: 24px;
    width: auto;
    height: auto;
  }
  .og-page {
    background-color: #E85C0D;
  }
}